Source: fibra
Section: python
Priority: optional
Maintainer: Mario Frasca <mario@anche.no>
Build-Depends: debhelper (>= 10), dh-python, python-all, python-setuptools, python3-all, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://pypi.org/project/fibra/
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: python-fibra
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Advanced cooperative concurrency using Python generators.
 cooperative concurrency is something that will avoid you problems like
 creating a database object in one thread and committing the transaction in
 a different thread.  that is not allowed with most db engines.  with
 cooperative concurrency you are in one thread, so no such difficulties.
 .
 This package installs the library for Python 2.

Package: python3-fibra
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Advanced cooperative concurrency using Python generators.
 cooperative concurrency is something that will avoid you problems like
 creating a database object in one thread and committing the transaction in
 a different thread.  that is not allowed with most db engines.  with
 cooperative concurrency you are in one thread, so no such difficulties.
 .
 This package installs the library for Python 3.
